/* Generales  */
a{
  text-decoration: none;
}
a:hover{
  color: white; 
   text-decoration: none;
}

/* Padding */

.py-1{
  padding: 1rem 0;
}
.py-2{
  padding: 2rem 0;
}
.py-3{
  padding: 3rem 0;
}
.py-4{
  padding: 4rem 0;
}
.pb-1{
  padding: 4rem 0;
}
.pb-2{
  padding: 4rem 0;
}
.pb-3{
  padding: 4rem 0;
}
.pb-4{
  padding: 4rem 0;
}


/* Margin */
.m-1{
  margin: 1rem;
}
.m-2{
  margin: 2rem;
}
.m-3{
  margin: 3rem;
}
.m-4{
  margin: 4rem;
}

/* Barra de navegacion */
.barradenavegacion{
  background: rgba(0, 0, 0, 0.61);
}

.margendeescritorio{
  margin-left: 20px;
}

.logonavbar{
  max-width: 120px;
  
}

/* Inicio */

.bg-imagen-header{
  background-image: url("imagenes/videobg10.png"); 
  background-color: #cccccc; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
   
}
.borde-crema{
  height: 20px;
  background-color: rgb(238, 193, 109);
}
.borde-blanco{
  height: 20px;
  background-color: rgb(255, 255, 255);
}
.bg-imagen-info{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url("imagenes/section-bg4.png"); 
  background-color: #cccccc; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
   
}